@import "../../library";

.main {
  background: #f7f8fc;
  height: 100vh;
}

.dashboard {
  margin-left: 200px;
  padding: 0px 5%;

  @include element("header") {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include element("title") {
      font-size: 25px;
      font-weight: 600;
    }
  }

  @include element("statistic") {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 60px;
  }

  @include element("booking") {
    background: white;
    border: 1.5px #dfe0eb solid;
  }
}

.control {
  display: flex;

  @include element("user") {
    display: flex;
    margin-left: 70px;

    @include element("name") {
      align-self: center;
      font-size: 15px;
      font-weight: 500;
      margin-right: 15px;
    }
  }
}

.menu {
  @include element("status") {
    border-radius: 5px;
    border: 1.5px #dfe0eb solid;
    font-size: 15px;
    font-weight: 500;
  }
}

.img {
  align-self: center;
  margin: 0;

  @include modifier("16") {
    width: 16px;
  }

  @include modifier("24") {
    width: 24px;
  }

  @include modifier("44") {
    width: 44px;
  }
}
