@import "../../library";

.bookIt {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  column-gap: 30px;
  padding: 0 25px;
  height: 110px;

  @include element("col") {
    display: flex;
    align-items: center;

    @include modifier("last") {
        justify-content: space-between;
    }
  }
}

.lineBreak {
  border: none;
  height: 1px;
  background: #dfe0eb;
  margin: 0;
}

.boldText {
  font-size: 13px;
  font-weight: 500;
  color: $black;
  margin: 0 0 5px 0;

  @include modifier("last") {
    align-self: center;
  }
}

.blurText {
  font-size: 11px;
  color: #c5c7cd;
  margin: 0;
}

.moreBtn {
  background: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  align-self: center;
  padding: 0vh;
}
