@import "../../library";

.serviceCard {
  display: flex;
  justify-content: space-between;

  @include element("name") {
    font-weight: 500;
  }

  @include element("interaction") {
    display: flex;
  }

  @include element("duration") {
    margin-right: 30px;
  }

  @include element("button") {
    border: none;
    border-radius: 5px;

    color: white;
    cursor: pointer;
    height: 45px;
    align-self: center;
    width: 85px;
    font-size: 15;
  }
}
