@import "../../../library";

.info {
  padding-top: 50px;
  padding-left: 15px;

  @include element("input") {
    border: 2px solid $orange;
    border-radius: 5px;
    background: #f6f2ea;
    padding: 15px 20px;
    font-size: 16px;
    width: 40%;
    margin: 15px 20px;

    &::placeholder {
      color: #563b4c;
      font-weight: 500;
    }

    &:focus-visible {
      outline: 0;
    }
  }
}

.services {
  padding: 25px;
  height: 200px;
  overflow: auto;
}

.datetime {
  padding: 10px 50px;

  @include element("label") {
    flex: 1;

    &:first-child {
      margin-right: 60px;
    }
  }

  @include element("select") {
    border: 2px solid $orange;
    border-radius: 5px;
    background: #f6f2ea;
    padding: 15px 20px;
    font-size: 16px;
    color: #563b4c;
    font-weight: 500;
    appearance: none;
    width: 100%;

    &:focus-visible {
      outline: 0;
    }
  }
}

.row {
  display: flex;
}

.label-text {
  text-align: start;
  font-weight: 500;
}
