@import "../../../library";

.info {
  padding-top: 25px;
  padding-left: 15px;

  @include element("input") {
    border: 2px solid $orange;
    border-radius: 5px;
    background: #f6f2ea;
    padding: 15px 20px;
    font-size: 16px;
    width: 40%;
    margin: 15px 20px;

    &::placeholder {
      color: #563b4c;
      font-weight: 500;
    }

    &:focus-visible {
      outline: 0;
    }
  }
}

.row {
  display: flex;
}

.services {
  padding: 25px 25px 80px 25px;
}

.datetime {
  padding: 25px 50px;
}

.label {
  flex: 1;
}

.label:first-child {
  margin-right: 60px;
}

.label-text {
  text-align: start;
  font-weight: 500;
}

.select {
  border: 2px solid $orange;
  border-radius: 5px;
  background: #f6f2ea;
  padding: 15px 20px;
  font-size: 16px;
  color: #563b4c;
  font-weight: 500;
  width: 100%;

  &:focus-visible {
    outline: 0;
  }
}